* {
    background-color: black;
}

#image {
    border: 5px solid white;
    margin: 40px 0px 0px 0px;
    width: 100%;
    
}

.mainDiv {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    

}

#heading {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}